{%- macro web_ut() -%}
entry: npm test -- --bail --findRelatedTests
{%- endmacro -%}

{%- macro python_ut() -%}
entry: python3 -m unittest discover -s tests
      pass_filenames: false
{%- endmacro -%}

{%- macro dotnet_ut() -%}
entry: dotnet test --no-restore
      pass_filenames: false
{%- endmacro -%}

{%- macro flutter_ut() -%}
entry: flutter test
      pass_filenames: false
{%- endmacro -%}

{%- macro java_ut() -%}
entry: mvn test
      pass_filenames: false
{%- endmacro -%}

{%- macro choose_entry(tech_stack) -%}

  {%- if tech_stack == "JS/TS[X]" -%}
    {{ web_ut() }}
  {%- elif tech_stack == "Python" -%}
    {{ python_ut() }}
  {%- elif tech_stack == ".Net" -%}
    {{ dotnet_ut() }}
  {%- elif tech_stack == "Flutter" -%}
    {{ flutter_ut() }}
  {%- elif tech_stack == "Java" -%}
    {{ java_ut() }}
  {%- endif -%}

{%- endmacro -%}

{%- macro web_cq() -%}
- repo: https://github.com/biomejs/pre-commit
  rev: v2.1.2
  hooks:
  - id: biome-format # ---------- Formatting 
    name: "Formatting 📝 "
  - id: biome-lint # ---------- Lint
    name: "Linting 📌 "
  - id: biome-check # ---------- Final Check
    name: "Final Check 🗃️  "
{%- endmacro -%}

{%- macro python_cq() -%}
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.5
  hooks:
  - id: ruff-format # ---------- Formatting 
    name: "Formatting 📝 "
  - id: ruff-check # ---------- Lint
    name: "Linting 📌 "
    args:
    - --fix
{%- endmacro -%}

{%- macro dotnet_cq() -%}
- repo: local
  hooks:
  - id: dotnet-format # ---------- Formatting 
    name: "Formatting 📝 "
    entry: dotnet format --verify-no-changes
    language: system
    pass_filenames: false
  - id: dotnet-check # ---------- Lint
    name: "Linting 📌 "
    entry: dotnet build --no-restore -warnaserror
    language: system
    pass_filenames: false
{%- endmacro -%}

{%- macro flutter_cq() -%}
- repo: local
  hooks:
  - id: flutter-format # ---------- Formatting 
    name: "Formatting 📝 "
    entry: flutter format .
    language: system
    pass_filenames: false
  - id: flutter-check # ---------- Lint
    name: "Linting 📌 "
    entry: flutter analyze
    language: system
    pass_filenames: false
{%- endmacro -%}

{%- macro java_cq() -%}
- repo: local
  hooks:
  - id: java-format # ---------- Formatting 
    name: "Formatting 📝 "
    entry: mvn spotless:check
    language: system
    pass_filenames: false
  - id: java-check # ---------- Lint
    name: "Linting 📌 "
    entry: mvn checkstyle:check
    language: system
    pass_filenames: false
  - id: java-bugs # ---------- Bugs
    name: "Scanning for Bugs 🐞 "
    entry: mvn spotbugs:check
    language: system
    pass_filenames: false
{%- endmacro -%}

{%- macro choose_cq(tech_stack) -%}

  {%- if tech_stack == "JS/TS[X]" -%}
    {{ web_cq() }}
  {%- elif tech_stack == "Python" -%}
    {{ python_cq() }}
  {%- elif tech_stack == ".Net" -%}
    {{ dotnet_cq() }}
  {%- elif tech_stack == "Flutter" -%}
    {{ flutter_cq() }}
  {%- elif tech_stack == "Java" -%}
    {{ java_cq() }}
  {%- endif -%}

{%- endmacro -%}

# ---------------------------------------------------------------------------- #
#                              🔄 Pre-Commit Hooks                             #
# ---------------------------------------------------------------------------- #

repos:
# ---------------------------------------------------- #
#                    🧪 Unit Tests                     #
# ---------------------------------------------------- #
- repo: local
  hooks:
    - id: unit-tests
      name: "Performing Unit Tests 🧪  "
      {{ choose_entry(tech_stack) }}
      language: system
      

# ---------------------------------------------------- #
#                🔎 Code Quality Check                 #
# ---------------------------------------------------- #
{{ choose_cq(tech_stack) }}

# ---------------------------------------------------- #
#                   🔐 Security Check                  #
# ---------------------------------------------------- #
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
  - id: gitleaks
    # args: ["--config", "gitleaks.toml"] # In case of custom rules
    name: "Secrets Leak Scanning 🔐 "

# ---------------------------------------------------- #
#                    📄 Files Check                    #
# ---------------------------------------------------- #
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files 
    name: "Scanning for Large Files 🔍 "