# ---------------------------------------------------------------------------- #
#                              🔄 Pre-Commit Hooks                             #
# ---------------------------------------------------------------------------- #

repos:
{% if tech_stack == "javascript" or tech_stack == "typescript" %}
# ---------------------------------------------------- #
#                    🧪 Unit Tests                     #
# ---------------------------------------------------- #
- repo: local
  hooks:
    - id: unit-tests
      name: "Performing Unit Tests 🧪  "
      entry: npm test -- --bail --findRelatedTests
      language: system

# ---------------------------------------------------- #
#                🔎 Code Quality Check                 #
# ---------------------------------------------------- #
- repo: https://github.com/biomejs/pre-commit
  rev: v2.1.2
  hooks:
  - id: biome-format # ---------- Formatting 
    name: "Formatting 📝 "
  - id: biome-lint # ---------- Lint
    name: "Linting 📌 "
  - id: biome-check # ---------- Final Check
    name: "Final Check 🗃️  "
{% endif %}

{% if tech_stack == ["python"] %}
# ---------------------------------------------------- #
#                    🧪 Unit Tests                     #
# ---------------------------------------------------- #
- repo: local
  hooks:
    - id: unit-tests
      name: "Performing Unit Tests 🧪  "
      entry: python3 -m unittest discover -s tests
      language: system

# ---------------------------------------------------- #
#                🔎 Code Quality Check                 #
# ---------------------------------------------------- #
- repo: https://github.com/astral-sh/ruff
  rev: v0.4.10
  hooks:
  - id: biome-format # ---------- Formatting 
    name: "Formatting 📝 "
  - id: biome-lint. # ---------- Lint
    name: "Lintting 📌 "
  - id: biome-check # ---------- Final Check
    name: "Final Check 🗃️ "
{% endif %}

# ---------------------------------------------------- #
#                   🔐 Security Check                  #
# ---------------------------------------------------- #
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.22.1
  hooks:
  - id: gitleaks
    # args: ["--config", "gitleaks.toml"] # In case of custom rules
    name: "Secrets Leak Scanning 🔐 "

# ---------------------------------------------------- #
#                    📄 Files Check                    #
# ---------------------------------------------------- #
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-added-large-files 
    name: "Scanning for Large Files 🔍 "